.main {
    padding: 0rem 2.5rem;
    font-family: 'Smooch Sans', sans-serif;
}

.timeline {
    position: absolute;
    left: 2.5rem;
    width: 2px;
    height: 100%;
    background-color: #ced4da;
}

.borderline {
    position: absolute;
    right: 0;
    width: 2.5rem;
    height: 100%;
    background-color: #000000;
}

.sectionNumber {
    position: absolute;
    left: 2rem;
    margin-top: 4rem;
    padding: 1rem 0;
    background-color: #fff;
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
}

.row {
    height: 79vh;
    padding-left: 4rem;
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
}

.sectionTitle {
    margin-bottom: 1rem;
    font-size: 10rem;
    font-family: "Bebas Neue", sans-serif;
}

.sectionSubtitle {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family: "Bebas Neue", sans-serif;
}

.sectionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3676f0;
    font-size: 1.6rem;
    color: white;
    font-family: 'Smooch Sans', sans-serif;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.sectionImage {
    width: 70%;
    margin-left: 4rem;
}

.corner {
    position: absolute;
    right: 2.5rem;
    width: 0;
    height: 0;
    border-left: 4.5rem solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 4.5rem solid #000000;
}

.splitline {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    margin-top: 4rem;
    background-color: #000;
}