.main {
    padding: 0rem 2.5rem;
    font-family: 'Smooch Sans', sans-serif;
}

.timeline {
    position: absolute;
    left: 2.5rem;
    width: 2px;
    height: 300%;
    background-color: #ced4da;
}

.borderline {
    position: absolute;
    right: 0;
    width: 2.5rem;
    height: 300%;
    background-color: #000000;
}

.corner {
    position: absolute;
    right: 2.5rem;
    width: 0;
    height: 0;
    border-left: 4.5rem solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 4.5rem solid #000000;
}


/* Section  */

.sectionWrapper {
    margin: 4rem 0 0 -3rem;
    padding: 0 0 8rem 3rem;
    background-color: #000;
    color: #fff;
}

.sectionTitle {
    margin-bottom: 1rem;
    font-size: 8lh;
    font-family: "Bebas Neue", sans-serif;
}

.sectionSubtitle {
    margin-bottom: 2rem;
    font-size: 1.8lh;
    font-family: "Bebas Neue", sans-serif;
}

.sectionThirdTitle {
    font-size: 3.5lh;
    font-family: "Bebas Neue", sans-serif;
}

.sectionText {
    margin-bottom: 3.8rem;
    font-size: 1.4lh;
}

.sectionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3676f0;
    font-size: 1.5lh;
    color: white;
    font-family: 'Smooch Sans', sans-serif;
}

.sectionImage {
    width: 100%;
    max-height: 380px;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        25% 100%,
        0% 60%
    );
}

.sectionImageAlt {
    width: 70%;
    margin-left: 4rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}
