.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
    height: 6rem;
    padding: 0 2.5rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ced4da;
    font-family: "Bebas Neue", sans-serif;
}

.navbarTitle {
    font-size: 2.2lh;
}

.navbarLink {
    text-decoration: none;
    color: var(--text-color);
}

.navbarUl {
    display: flex;
    width: 22vw;
    justify-content: space-between;
}

.navbarItem {
    font-size: 1.4lh;
}

.navbarBtnIcon {
    display: none;
}

.navbarIcon {
    width: 2.5rem;
    height: 2.5rem;
}

/* Modal styles */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.modalOpen {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.modalCloseBtn {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.modalMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.modalMenuItem {
    margin: 2.5rem 0;
}

.modalMenuLink {
    font-size: 1.8lh;
    color: #000;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
}



/* Responsive Design */

@media (max-width: 768px) {
    
    .navbar {
        height: 5rem;
        padding: 0 1.8rem;
    }

    .navbarTitle {
        font-size: 1.8lh;
    }

    .navbarUl {
        display: none;
    }

    .navbarBtnIcon {
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}