.footer {
    height: 86vh;
    margin-top: 6rem;
    padding: 3rem 2.5rem 1rem 2.5rem;
    background-color: #000;
    color: #fff;
    font-family: 'Smooch Sans', sans-serif;
}

.contactContainer {
    width: 90%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4lh;
}

.contactLink {
    padding: 1rem 2rem;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.availableText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sonarContainer {
    position: relative; 
    width: 40px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.sonar {
    width: 12px;
    height: 12px;
    position: relative; 
    z-index: 2;
    background-color: #3676f0;
    border-radius: 50%;
}

.sonarContainer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #b0bff9; 
    border-radius: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;

    animation: sonar-ripple 1.8s infinite ease-out;
}

@keyframes sonar-ripple {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(3.5);
        opacity: 0;
    }
}

.socialItem {
    list-style: none;
    margin-bottom: 1.6rem;
    padding-left: 12rem;
}

.socialLink {
    font-size: 1.4lh;
    color: #fff;
    text-decoration: none;
}

.footerBottom {
    width: 90%;
    position: relative;
    display: flex;
    bottom: -10rem;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 4rem;
    opacity: 0.8;
}

.footerBottom a {
    font-weight: 700;
    color: #fff;
}



/* Responsive Design */

@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 2rem 0rem 1rem 1.5rem;
    }

    .contactContainer {
        flex-direction: column;
        gap: 1.5rem;
        font-size: 1.2lh;
    }

    .socialItem {
        padding-left: 0rem;
        font-size: 0.8rem;
    }

    .footerBottom {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 0.8rem;
    }
}